.header-body-wrapper {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.logo-wrapper {
  min-width: 280px;
}

.logo {
  width: 200px;
  height: 33px;
  /*background-image: url("https://via.placeholder.com/200x33?text=LOGO");*/
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.menu-ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  color: #96959b;
  font-size: 14px;
  transition: 0.3s ease;
}

.menu-ul {
  padding: 0;
  margin: 0;
}

.menu-ul li:hover {
  color: #21a038;
  cursor: pointer;
}

.menu-ul li:first-child {
  color: #393939;
}

.menu-ul li:first-child:hover {
  color: #21a038;
}

.mobile-menu-btn button {
  padding: 5px 10px;
  border: none;
  color: #1ea038;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.mobile-menu {
  position: fixed;
  top: 20px;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  transition: all 0.3s ease;
  padding: 0;
  background-color: #343a40d1;
  opacity: 1;
}

.mobile-menu-wraŒpper ul li {
  color: #ffffff;
  padding: 10px 0px;
}

.mobile-menu-wrapper ul li:hover {
  background-color: #1ea038;
}

.mobile-menu-ul li {
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 10px 0px;
}

.mobile-menu-ul li:hover {
  color: #1ea038;
  background-color: #fff;
}

.mobile-menu-wrapper ul li {
  color: #ffffff;
  padding: 10px 0px;
}

.mobile-menu.active {
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 1;
}

.mobile-menu-close {
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #21b056;
  transition: all 0.3s;
  position: absolute;
  top: 50px;
  /*background-color: transparent;*/
  border: none;
}

li.nav-item.active,
li.nav-item,
li.nav-item {
  transition: 0.3s ease;
}

li.nav-item.active,
li.nav-item:hover,
li.nav-item:focus {
  background-color: #007bff;
}

.mobile-menu-wrapper {
  height: 100%;
  overflow: auto;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 60px;
}

.mobile-menu-wrapper ul {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.mobile-menu-wrapper ul li a {
  color: #fe6347;
}

@media (max-width: 992px) {
  .logo-wrapper {
    min-width: auto;
  }
}

@media (min-width: 414px) {
  .mobile-menu-btn {
    display: none;
  }

  .header-navbar-list {
    display: block;
  }
}

@media (max-width: 414px) {
  .mobile-menu-btn {
    display: block;
  }
  .menu-ul {
    display: none;
  }
  /*.header-navbar-list ul {*/
  /*  display: none;*/
  /*}*/
  .header-body-wrapper {
    justify-content: space-between;
  }
}
