.recently-watched {
  background-color: #f7f7f7;
  margin-top: 40px;
  padding: 20px 10px 25px;
}

.carousel-cell {
  flex: 1;
  width: 150px;
  padding-right: 10px;
}

.products-carousel-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #343434;
}

.main-container {
  margin: auto;
}

@media only screen and (min-width: 641px) {
  .main-container {
    width: 621px;
  }
}

@media only screen and (min-width: 848px) {
  .main-container {
    width: 828px;
  }
}

@media only screen and (min-width: 1055px) {
  .main-container {
    width: 1035px;
  }
}

@media only screen and (min-width: 1262px) {
  .main-container {
    width: 1242px;
  }
}

@media only screen and (min-width: 1469px) {
  .main-container {
    width: 1449px;
  }
}

@media only screen and (min-width: 1676px) {
  .main-container {
    width: 1656px;
  }
}

@media only screen and (min-width: 1883px) {
  .main-container {
    width: 1863px;
  }
}

/*@media screen and (max-width: 768px) {*/
/*  .products-carousel-title {*/
/*    font-size: 20px;*/
/*    padding: 20px 10px 25px;*/
/*  }*/
/*}*/

@media screen and (max-width: 320px) {
  .recently-watched {
    padding: 20px 5px 25px;
  }
}

