.ordering-header {
  height: 54px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 11px 0 rgba(0,0,0,.1);
}

.logo {
  width: 190px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
