.steps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.commonImage {
  margin: 0 40px;
  position: relative;
}

.commonImage:before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  line-height: 80px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 10px 45px rgba(0,0,0,.08), 0 5px 10px rgba(0,0,0,.05);
  content: '3';
}

.image {
  width: 360px;
  height: 360px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.text {
  max-width: 420px;
  font-size: 26px;
  line-height: 32px;
}


@media only screen and (max-width: 1199px) {
  .steps {
    flex-direction: column;
    align-items: center;
  }
  .commonImage {
    margin: 0 0 35px;
  }
  .image {
    width: 208px;
    height: 208px;
  }
  .commonImage:before {
    top: auto;
    right: auto;
    left: calc(50% - 20px);
    bottom: -20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 18px;
    line-height: 40px;
  }
  .text {
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
  }
}
