

.ordering-finalize {
  padding: 20px 30px;
  border: 1px solid #f0efec;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ordering-finalize-button {
  width: 42%;
  position: relative;
}

.ordering-sidebar-place-order {
  position: relative;
}

.ordering-finalize-text {
  font-size: 20px;
}

button {
  font-weight: 500;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: color,background-color,border-color,box-shadow,opacity;
  white-space: nowrap;
  pointer-events: none;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  padding: 11px 16px;
  color: #ffffff;
  display: block;
  min-width: 100%;
  border: 1px solid transparent;
  background-color: #21a038;
  box-sizing: border-box;
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

.btn-disabled {
  opacity: .3;
  pointer-events: none;
}

@media (max-width: 1004px) {
  .ordering-finalize {
    display: none;
  }
}
