.d-none {
  display: none;
}

.visible {
  display: block;
}
.sales-icon {
  background-image: url("https://sbermarket.ru/spree/taxons/6246/normal/900000.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.drawer-backdrop {
  position: fixed;
  left: 0px;
  right: auto;
  bottom: 0px;
  z-index: 2100;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.drawer-backdrop.opened {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.drawer-right.opened {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.drawer-right {
  visibility: hidden;
  display: flex;
  position: fixed;
  left: auto;
  right: 0px;
  bottom: 0px;
  z-index: 2100;
  top: 0px;
  transform: translateX(105%);
  flex: 1;
  max-width: 100%;
}

.drawer-transition {
  transition: transform 0.3s;
  opacity: 1;
}

.drawer-transition.drawer-transition_faded {
  -webkit-animation: fadeOutLeft 0s 0.3s forwards;
  animation: fadeOutLeft 0s 0.3s forwards;
}

.drawer-content {
  position: relative;
  display: flex;
}

.new-cart,
.new-cart-header {
  display: flex;
  justify-content: space-between;
}

.new-cart {
  flex-direction: column;
  width: 550px;
  background: #fff;
  z-index: 1000;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
}

.new-cart-header {
  height: 56px;
  padding: 0 24px;
  border-bottom: 1px solid #e8ebed;
  border-left: 1px solid #e8ebed;
  align-items: center;
  box-sizing: inherit;
}

.btn-close-cart {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 500;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #e8ebed;
  white-space: nowrap;
  outline: none;
  box-sizing: border-box;
  color: #21a038;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s;
}

.btn-close-cart:hover {
  background-color: #fafafa;
}

.new-cart-title {
  font-size: 18px;
  color: #7e7c86;
  font-weight: 500;
}

.btn-close-cart-text {
  flex: auto;
  font-size: 14px;
  margin-left: 7px;
  font-weight: 700;
}

.new-cart-content {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  flex: 1;
}

.new-cart-empty {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-cart-empty-img i {
  font-size: 10rem;
  color: #c2c3c4;
}

.new-cart-empty-text {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  color: #c2c3c4;
}

.message-box button {
  border-top: 1px solid #c2c3c4;
  padding: 10px 24px;
}

.message-box {
  margin: 20px;
}

.message-box button {
  font-size: 18px;
}

.message-box .btn-empty {
  width: 100%;
  background-color: #c2c3c4;
  color: #ffffff;
  outline: none;
  padding: 10px 0px;
  border: none;
  border-radius: 6px;
}

.btn-buy {
  transition: all,.3s;
  width: 100%;
  cursor: pointer;
  /*height: 45px;*/
  /*padding: 10px 18px;*/
  touch-action: manipulation;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-weight: 500;
  position: relative;
  background-color: #21a038;
}

.btn-buy:hover {
  background-color: #187629;
}

.btn-price {
  background-color: rgba(0,0,0,.25);
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  right: 10px;
  top: 9px;
  font-size: 14px;
}

/*new cart*/

.cart-retailer-header {
  background-color: rgb(0, 45, 114);
  color: #fff;
}

.cart-retailer-details {
  padding: 12px;
}

.cart-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.cart-box-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.cart-retailer-details-well {
  position: relative;
  border-radius: 4px;
  padding: 6px 14px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 3px;
}

.cart-retailer-details-name {
  font-size: 16px;
  line-height: 32px;
  margin-left: 5px;
  font-weight: 500;
  color: #fff;
}

.cart-retailer-divider {
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-retailer-divider-inner {
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}

.cart-retailer-details-weight {
  margin-left: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.retailer-deliveries-caption {
  transition: all, 0.4s;
  overflow: hidden;
}

.cart-retailer-subheader {
  padding: 11px 24px;
  font-size: 12px;
}

.retailer-delivery-text {
  margin-right: 5px;
}

.cart-info {
  width: 16px;
  height: 16px;
}

.cart-info i {
  width: 16px;
  height: 16px;
}

.retailer-deliveries {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/*card*/

.cart-line-items {
  width: 100%;
  overflow: hidden;
}

.cart-line-item-wrapper {
  position: relative;
}

.line-item-counter {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-item-counter-control {
  display: none;
  cursor: pointer;
  color: #929292;
  background-color: inherit;
  border: none;
  font-size: 20px;
  margin-bottom: -5px;
}

.line-item-counter-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.cart-line-item {
  font-size: 13px;
  padding: 12px 8px;
  color: #7e7c86;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #e8ebed;
}

.cart-line-item:hover .line-item-counter-control {
  display: block;
}

.cart-line-item:hover .cart-line-item-remove  {
  display: block;
}

.cart-line-item:hover .price {
  display: none;
}

.cart-line-item-link {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.cart-line-item-logo {
  width: 58px;
  height: 58px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*background-image: url("https://sbermarket.ru/spree/products/7546/mini/15220.PNG");*/
}

.cart-line-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: #393939;
  flex: 1;
  width: 50%;
  margin-right: 8px;
}

.cart-line-item-description {
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.cart-line-item-price {
  margin-right: 16px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  width: 19%;
  text-align: right;
}

.cart-line-item-remove:hover {
  color: #ff3366;
}

.cart-line-item-remove {
  display: none;
  /*position: absolute;*/
  background-color: #fff;
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  font-size: 15px;
  color: #929292;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color .25s ease-out;
}





@media (max-width: 414px) {
  .new-cart {
    width: 414px;
  }
}

@media (max-width: 375px) {
  .new-cart {
    width: 375px;
  }
}

@media (max-width: 320px) {
  .new-cart {
    width: 320px;
  }
}
