button, input {
  outline: none;
}

.remind-password-wrapper {
  padding: 0 32px 34px;
  box-sizing: border-box;
}

.remind-password-title-wrap {
  text-align: center;
  line-height: 1.4;
}

.remind-password-title-wrap h3 {
  margin-bottom: 24px;
  line-height: 32px;
  font-size: 26px;
  font-weight: 700;
}

.remind-password-title-wrap p {
  margin: -16px 12px 24px;
  font-size: 16px;
  font-weight: 500;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  line-height: normal;
  font-weight: 400;
}

.input-container {
  position: relative;
  color: #8f8e94;
  font-size: 14px;
  transition: color .25s ease-out;
}

.view-input {
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background-color: #f7f7f7;
  padding-right: 40px;
  padding-left: 15px;
  width: 100%;
  height: 42px;
  color: #393939;
  font-size: 13px;
  font-weight: inherit;
  transition: all .25s ease-out;
  line-height: 20px;
}

.view-input:focus {
  border-color: #1ea038;
  background-color: white;
}

.discharge-login {
  position: absolute;
  right: 36px;
  top: 12px;
  opacity: 0.3;
  cursor: pointer;
  transition: display 0.2s ease;
}

.discharge-login:hover {
  opacity: 1;
}

.discharge-login:before, .discharge-login:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #333;
}

.discharge-login:before {
  transform: rotate(45deg);
}

.discharge-login:after {
  transform: rotate(-45deg);
}

.hide {
  display: none;
}

.error-input {
  margin-top: 5px;
  letter-spacing: .3px;
  color: #f36;
  font-size: 13px;
  font-weight: 400;
}

.login-btn {
  display: block;
  cursor: pointer;
  text-align: center;
  min-width: 100%;
  margin-top: 12px;
  background-color: #21a038;
  box-shadow: 0 10px 30px rgba(33, 160, 56, .4);
  color: #fff;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  padding: 11px 16px;
  transition: all 0.2s;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .remind-password-title-wrap h3{
font-size: 24px;
  }

  .remind-password-title-wrap p{
    font-size: 13px;
  }

  .login-btn{
    font-size: 13px;
  }
}

@media (max-width: 576px) {

}
