* {
  box-sizing: border-box;
}

button {
  outline: none;
}

.parent-block-top-bar {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f7f7f7;
  color: #333;
}

.top-bar-content-outer-block {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: #f7f7f7;
}

.top-bar-content-inner-block, .top-bar-delivery-and-adress {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  height: 100%;
}

.top-bar-delivery-and-adress {
  width: 100%;
}

.top-bar-delivery-option-block {
  display: flex;
  box-shadow: none !important;
  margin-right: 20px;
  width: auto;
  border-radius: 6px;
  padding: 4px;
  min-height: 30px;
  background-color: #e7e9eb;
}

.selection-by-delivery, .selection-by-pickUp {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  user-select: none;
  padding: 0 8px;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  font-weight: 500;
  transition: all .2s;
}

.selection-by-delivery {
  background-color: #fff;
  color: #333536;
  margin-right: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
}

.selection-by-pickUp {
  background-color: transparent;
  color: #96959b;
}

.option-adress-text-block {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-adress-text-block span {
  font-weight: 700;
  color: #21a038;
  cursor: pointer;
  font-size: 13px;
}

.delivery-adress-btn {
  display: inline-flex;
  border: none;
  outline: none;
  background-color: transparent;
  transition: background-color .3s;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin-left: 12px;
  color: #b5b4b8;
}

.delivery-adress-btn i {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.shortest-delivery-time {
  margin-left: 30px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 13px;
}

.shortest-delivery-time span {
  color: #21a038;
  padding-left: 5px;
}

.top-bar-number-wrapper {
  position: absolute;
  right: 0;
}

.phone-number-link {
  color: #333536;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  border: none;
}

.phone-number-link:hover {
  color: inherit;
  text-decoration: none;
}

.phone_number {
  font-size: 16px;
  color: #333536;
}

.phone-work {
  color: #96959b;
  font-size: 13px;
  margin-left: 8px;
}

/*@media (min-width: 1440px) {*/
/*  .top-bar-content-outer-block {*/
/*    max-width: 1440px;*/
/*    width: 100%;*/
/*  }*/
/*}*/

@media (max-width: 1200px) {
  .shortest-delivery-time {
    display: none;
  }
}

@media (max-width: 992px) {
  .top-bar-delivery-option-block {
    display: none;
  }

  .option-adress-text-block {
    width: 100%;
  }

  .option-adress-text-block span {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
  }

  .top-bar-number-wrapper {
    display: none;
  }

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
