.item-li {
  font-size: .9em;
  line-height: 1.9em;
  opacity: .8;
  cursor: pointer;
}

.item-li:hover {
  color: #21a038;
  transition: .3s;
}

@media only screen and (max-width: 320px) {
  .item-li {
    margin: auto;
    text-align: center;
  }
}
