.window {
  /*background-color: lightgray;*/
  padding: 30px 0 30px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
  z-index: 2001;
  /*animation: fadeIn .3s 35ms;*/
}

/*@keyframes fadeIn {*/
/*  0% {*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    opacity: 1;*/
/*  }*/
/*}*/


.container {
  max-width: 760px;
  border-radius: 15px;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  .close {
    top: 16px;
    right: 16px;
  }
  .container {
    max-width: 100%;
  }
}
