button {
  outline: none;
}

.delivery-modal-main-block-wrapper {
  position: fixed;
  top: 0;
  z-index: 9999;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.delivery-modal-other-opacity{
  z-index: 5002;
}

.delivery-modal-other-opacity{
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 4;
  position: fixed;
  background-color: rgba(0, 0, 0, .4);
}

.delivery-modal-main-block {
  max-width: 746px;
  width: 100%;
  will-change: opacity;
  transition: opacity .3s 35ms;
  display: flex;
  z-index: 5002;
}

.delivery-modal-block-position {
  max-height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
}

.delivery-modal-block-wrapper {
  max-width: 746px;
  width: 100%;
  margin: 30px auto;
  position: relative;
  will-change: transform;
  transition: transform .3s 35ms;
}

.delivery-modal-block {
  max-width: 100%;
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .1);
  border-radius: 16px;
}

.close-btn-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  font-weight: 500;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: color, background-color, border-color, box-shadow, opacity;
  white-space: nowrap;
  margin-left: auto;
  border: 1px solid #d0d2d4;
  color: #333536;
  min-width: 40px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 7px;
  padding: 7px 16px;
}

.choose-way-to-get-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.method-of-obtaining-title-block {
  padding-left: 20px;
  padding-right: 20px;
}

.method-of-obtaining-title {
  color: #393939;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  max-width: 100%;
}

.suggestions-signIn-in-modal-top-bar {
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #96959b;
  text-align: center;
}

.suggestions-signIn-in-modal-top-bar span {
  color: #21a038;
  cursor: pointer;
  margin-left: 8px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.option-pickUp-or-delivery-block-wrapper {
  padding: 0 30px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.option-pickUp-or-delivery-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 100%;
  transform: translateY(50%);
  border-radius: 8px;
}

.option-delivery, .option-pickUp {
  border: 1px solid #e7e9eb;
  background-color: #fff;
  padding: 0 10px;
  height: 38px;
  width: 100%;
  color: #333536;
  font-size: 15px;
  font-weight: 500;
  transition: all .2s;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
}

.option-delivery {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.option-pickUp {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.option-pickUp-or-delivery-block .option-delivery-selected {
  pointer-events: none;
  cursor: default;
  border: 1px solid #21a038;
  background-color: #21a038;
  color: #fff;
}

