main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
}

@media only screen and (max-width: 1439px) {
  main {
    padding: 0 42px;
  }
}

@media only screen and (max-width: 767px) {
  main {
    padding: 0 16px;
  }
}
