@import "~bootstrap/dist/css/bootstrap-grid.min.css";

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.flickity-prev-next-button.previous {
  left: -60px;
}

.flickity-button:disabled {
  opacity: 0;
}

.flickity-prev-next-button {
  height: 100%;
  width: 50px;
  border-radius: 4px;
}

.flickity-button {
  background: transparent;
  border: none;
  color: #21a038;
}

.flickity-prev-next-button .flickity-button-icon {
  width: 20px;
  height: 20px;
  position: static;
}

.flickity-prev-next-button.next {
  right: -60px;
}

.flickity-button:hover {
  background: transparent;
  border: 1px solid #e5edec;
}

.flickity-button:active {
  opacity: 1;
}

.products .flickity-prev-next-button.previous {
  left: auto;
  right: 37px;
}

.products .flickity-prev-next-button.next {
  right: 0;
}

.products .flickity-prev-next-button {
  width: 32px;
  height: 32px;
  background-color: #21a038;
  border-color: #21a038;
  border-radius: 6px;
  transition: all .3s;
  top: -29px;
}

.products .flickity-button {
  color: #fff;
}

.products .flickity-button:disabled {
  opacity: 1;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #e6e6e6;
  }

.products .flickity-button-icon {
  width: 10px;
  height: 10px;
}

.recommended .flickity-prev-next-button {
  top: -20px;
}

strong {
  color: #21a038;
}

p {
  margin: 0;
}

.main {
  box-sizing: border-box;
}
.sberbank_button{
  color: #21a038;
  height: 23px;
  width: 23px;
  margin-right: 5px;
}

.ordering-panel a {
  text-decoration: none;
  border: none;
  color: #21a038;
}

.ordering-panel a:hover {
  text-decoration: none;
  border: none;
  color: #666;
}
