.text {
  line-height: 1.25;
  margin-top: 60px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

.common {
  margin-left: 63px;
}

@media only screen and (max-width: 768px) {
  .common {
    margin-right: 30px;
    text-align: center;
  }
}


@media only screen and (max-width: 400px) {
  .common {
    max-width: 300px;
    margin-left: 35px;
  }
  .text {
    text-align: center;
    line-height: 1.2;
    font-size: 24px;
  }
}
