.text {
  line-height: .4;
  margin-top: 60px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

.common {
  margin-left: 63px;
}


@media only screen and (max-width: 400px) {
  .common {
    max-width: 300px;
    margin-left: 35px;
  }
  .text {
    margin-left: 0;
    text-align: center;
    line-height: 1.2;
  }
}
