* {
  outline: none;
  box-sizing: border-box;
}

.hide{
  display: none;
}

.login-form {
  transition: all .25s ease-out;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  line-height: normal;
  font-weight: 400;

}

.input-container {
  position: relative;
  color: #8f8e94;
  font-size: 14px;
  transition: color .25s ease-out;
}


.view-input {
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background-color: #f7f7f7;
  padding-right: 40px;
  padding-left: 15px;
  width: 100%;
  height: 42px;
  color: #393939;
  font-size: 14px;
  font-weight: inherit;
  transition: all .25s ease-out;
  line-height: 20px;
}

.view-input:focus {
  border-color: #1ea038;
  background-color: white;
}

.password-view {
  position: absolute;
  right: 13px;
  bottom: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: right 0.1s ease;
}

.discharge-login {
  position: absolute;
  right: 36px;
  top: 12px;
  opacity: 0.3;
  cursor: pointer;
  transition: display 0.2s ease;
}

.discharge-login:hover {
  opacity: 1;
}

.discharge-login:before, .discharge-login:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #333;
}

.discharge-login:before {
  transform: rotate(45deg);
}

.discharge-login:after {
  transform: rotate(-45deg);
}

.error-input {
  margin-top: 5px;
  letter-spacing: .3px;
  color: #f36;
  font-size: 13px;
  font-weight: 400;
}

.checkbox-wrapper {
  margin-bottom: 20px;
}

.checkbox-wrapper label {
  display: flex;
  align-items: flex-end;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-input::before {
  content: '\2713';
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 20px;
}

.checkbox-input:checked:not(:disabled) {
  background-color: #21a038;
}

.checkbox-span, .checkbox-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: 1px solid #d0d2d4;
  background-color: #fff;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: border-color, background-color, box-shadow;
  color: #fff;
  margin-left: 5px;
}

.remember-me-check {
  display: inline-block;
  margin-left: 8px;
}

.login-btn {
  display: block;
  cursor: pointer;
  text-align: center;
  min-width: 100%;
  margin-top: 12px;
  background-color: #21a038;
  box-shadow: 0 10px 30px rgba(33, 160, 56, .4);
  color: #fff;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  padding: 11px 16px;
  transition: all 0.2s;
}

.remind-password {
  display: block;
  cursor: pointer;
  margin: 16px auto 0;
  line-height: 24px;
  font-size: 16px;
  border: none;
  background: transparent;
  color: #21b056;
}

.remind-password:hover {
  text-decoration: underline;
}

.login-through-wrapper {
  margin-top: 20px;
}

.login-through-bankId {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #d0d2d4;
  color: #333536;
  line-height: 24px;
  border-radius: 7px;
  padding: 7px 16px;
  min-width: 100%;
  transition: all 0.2s;
  white-space: nowrap;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: color, background-color, border;
}

.login-through-bankId:hover, .login-social-btn:hover {
  background-color: #f3f4f7;
  border: 1px solid #d0d2d4;
  color: #333536;
}

.login-through-bankId:focus, .login-social-btn:focus {
  border-color: #1ea038;
  background-color: white;
}

.login-through-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-through-social p {
  display: block;
  margin: 12px;
  width: 100%;
  color: #96959b;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}

.login-social-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  font-family: inherit;
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
  width: 48px;
  height: 48px;
  border: 1px solid #d0d2d4;
  font-size: 16px;
  line-height: 24px;
  border-radius: 7px;
  margin-right: 16px;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: color, background-color, border;
}


.login-social-btn span {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .view-input {
    font-size: 12px;
  }

  .remember-me-check {
    font-size: 12px;
    padding-bottom: 1px;
  }

  .login-btn, .remind-password, .login-through-bankId, .login-through-social p {
    font-size: 12px;
  }

}
