.replacement-policy {
  transition: all,.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  box-sizing: border-box;
  padding: 0 24px;
  border-radius: 6px;
  color: #393939;
  background-color: #fff;
  border: 1px solid #f0efec;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.selected .replacement-policy {
  border: 1px solid #21a038;
  background-color: #f7f7f7;
  color: #21a038;
}

.replacement-policy:hover {
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
}

.replacement-policy-selected:hover {
  border: 1px solid #21a038;
}

.replacement-policy-label {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.replacement-policy-selected .replacement-policy-label {
  cursor: auto ;
}

input.hidden-inp {
  display: none;
}

.replacement-policy-ico-wrap {
  position: relative;
}

.replacement-policy-ico-wrap i {
  font-size: 20px;
  color: #21a038;
  cursor: pointer;
}


.popover-wrapper {
  z-index: 1030;
  position: fixed;
  right: 0;
  left: 0;
  transform: translateX(-50%);
  padding-bottom: 10px;
  display: none;
  width: 235px;
}

.popover {
  position: relative;
  box-shadow: 0 10px 30px 0 rgba(150,149,155,.3);
  border-radius: 6px;
  background-color: #1f2a35;
  color: #fff;
  white-space: pre-wrap;
  max-width: 200px;
  padding: 20px 16px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.popover-item {
  position: absolute;
  display: block;
  background: transparent;
  border: 6px solid #1f2a35;
  box-shadow: 0 10px 30px 0 rgba(150,149,155,.3);
}

.replacement-policy-ico-wrap:hover .popover-wrapper {
  display: block;
}

@media (max-width: 660px) {
  .replacement-policy-ico-wrap {
    display: none;
  }
}
