.drawer-backdrop {
  position: fixed;
  left: 0px;
  right: auto;
  bottom: 0px;
  z-index: 2000;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  pointer-events: none;
}

.drawer-backdrop.opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.drawer-footer-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateY(-5%);
  transition: all 0.2s;
  overflow: scroll;
}

.drawer-footer-modal.opened {
  opacity: 1;
  transition: all 0.2s;
  transform: translateY(0%);
  visibility: visible;
  z-index: 2100;
}

.drawer-content {
  max-width: 700px;
  margin: 30px auto;
  position: relative;
  transition: transform 0.3s 35ms;
}

.wrapper-content {
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.modal-nav {
  display: flex;
  justify-content: flex-end;
}

.close-modal-form {
  border-radius: 50%;
  padding: 10px 13px;
  border: 1px solid #d0d2d4;
  color: #333536;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;
}

.close-modal-form:hover {
  background-color: #f3f4f7;
  border: 1px solid #d0d2d4;
  color: #333536;
}

.modal-content {
  padding: 15px 30px;
}

header {
  text-align: center;
}

header .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.4px;
  color: #343434;
  margin-bottom: 22px;
  text-align: center;
}

header .subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #333536;
  text-align: left;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.left,
.right {
  width: 50%;
}

.right {
  margin-left: 15px;
}

.input-parent {
  margin-top: 10px;
  margin-bottom: 15px;
}

.input-parent input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: block;
  box-sizing: border-box;
  width: auto;
  min-width: 100%;
  height: 48px;
  padding: 11px 16px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: border-color, box-shadow, opacity, background-color;
  color: #333536;
  border-radius: 8px;
  border: 1px solid #d0d2d4;
  background-color: #fff;
  box-shadow: none;
  overflow: auto;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
  outline: none;
}

.error input {
  border-color: #f36;
  background-color: #ffebf0;
}

.error .error-text {
  visibility: visible;
}

.error-text {
  visibility: hidden;
  color: #ff3366;
  font-size: 12px;
  margin-left: 10px;
}

.input-parent input::placeholder {
  font-weight: 500;
  color: #c2c3c4;
}

.form-hr {
  height: 1px;
  overflow: hidden;
  border: none;
  background-color: #979797;
  opacity: 0.23;
  margin: 0 -60px;
}

.subject-wrapper {
  margin-top: 10px;
  margin-left: -8px;
  margin-right: -8px;
}

.subject-btn {
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 16px;
  font-size: 14px;
  border: 1px solid #d0d2d4;
  background-color: #fff;
  color: #333536;
  padding: 6px 16px;
  transition: 0.3s ease;
  cursor: pointer;
}

.subject-btn.selected {
  background-color: #21a038;
  color: #fff;
  outline: #21a038;
}

.subject-btn:hover {
  background-color: #f3f4f7;
  border: 1px solid #d0d2d4;
  color: #333536;
}

.textarea-wrapper {
  margin-top: 30px;
}

.textarea-wrapper textarea {
  min-height: 100px;
  outline: #21a038;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: block;
  box-sizing: border-box;
  width: auto;
  min-width: 100%;
  margin: 0;
  padding: 11px 16px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: border-color, box-shadow, opacity, background-color;
  color: #333536;
  border-radius: 8px;
  border: 1px solid #d0d2d4;
  background-color: #fff;
  box-shadow: none;
  overflow: auto;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
}

.politics {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.politics .right {
  text-align: right;
}

.politics-title {
  font-size: 14px;
}

.left label {
  display: flex;
}

.btn-send {
  background-color: #21a038;
  box-shadow: 0 10px 30px rgba(33, 160, 56, 0.4);
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  padding: 11px 16px;
  min-width: 100%;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid transparent;
  outline: none;
}

.btn-send:hover {
  background-color: #21b056;
}

.checkbox-input::before {
  content: " ";
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 28px;
  line-height: 20px;
}

.checkbox-input:checked {
  border-color: #21a038;
  background-color: #21a038;
}

.checkbox-input:checked:not(:disabled) {
  background-color: #21a038;
}

.checkbox-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 25px;
  border-radius: 6px;
  border: 1px solid #d0d2d4;
  background-color: #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: border-color, background-color, box-shadow;
  color: #fff;
  margin-right: 10px;
}

.politics-title a {
  text-decoration: underline;
  color: #21a038;
  transition: color 0.2s ease;
}

@media (max-width: 414px) {
  .input-wrapper {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  .right {
    margin-left: 0px;
  }
  .modal-content {
    padding: 15px 0px;
  }
  .left {
    text-align: left;
  }
  .politics-title {
    font-size: 12px;
  }
}
