* {
  outline: none;
  box-sizing: border-box;
  color: #333;
}

.login-or-registration-form-wrapper {
  position: fixed;
  top: 0;
  z-index: 9999;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.login-or-registration-opaciry-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, .4);
}

.login-or-registration-form-parent{
  z-index: 5;
  max-width: 746px;
  width: 100%;
  position: relative;
  margin: 30px auto;
  box-shadow: 0 8px 30px rgba(0,0,0,.1);
  border-radius: 16px;
  background-color: #fff;
}

.login-or-registration-form-child{
  width: 100%;
}

.close-btn-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.close-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  font-weight: 300;
  white-space: nowrap;
  margin-left: auto;
  border: 1px solid #d0d2d4;
  color: #333536;
  min-width: 40px;
  font-size: 15px;
  line-height: 24px;
  border-radius: 20px;
  padding: 6px 10px;
}

.login-or-registration-form-container{
  padding: 0 32px 34px;
}

.login-or-registration-buttons-wrapper{
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}

.login-selection-btn, .registration-selection-btn{
  border: 1px solid #e7e9eb;
  background-color: #fff;
  padding: 0 10px;
  height: 38px;
  color: #333536;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all .2s;
  line-height: 20px;
  width: 100%;
}

.login-selection-btn{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.registration-selection-btn{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#selected-login-or-registration-btn{
  pointer-events: none;
  cursor: default;
  border: 1px solid #21a038;
  background-color: #21a038;
  color: #fff;
}
