.delivery {
  position: relative;
  margin-top: 120px;
  border: 1px solid #e7e9eb;
  border-radius: 24px;
  padding: 80px 80px 60px;
}

.deliveryImage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 504px;
  width: 650px;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 460px;
  margin-left: 0;
}

.title {
  font-weight: 600;
  line-height: 1.33;
  font-size: 35px;
  margin-bottom: 25px;
}

ul {
  padding: 0;
  margin: 0;
  flex: 1;
}

.listOfCities {
  display: flex;
  width: 100%;
}

li {
  list-style: none;
}

.city {
  line-height: 2;
  font-size: 16px;
  cursor: pointer;
}

.city:hover {
  color: #666;
}

.btn {
  margin-top: 30px;
  color: #333536;
  padding: 11px 16px;
  border: 1px solid #d0d2d4;
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  background-color: transparent;
}

.btn:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-color: #f3f4f7;
  color: #333536;
}

@media only screen and (max-width: 1199px) {
  .delivery {
    margin-top: 60px;
    padding: 35px 40px 25px;
  }
  .deliveryImage {
    top: 90px;
    width: 400px;
    height: 310px;
  }
}

@media only screen and (max-width: 767px) {
  .deliveryImage {
    width: 250px;
    height: 194px;
  }
}

@media only screen and (max-width: 575px) {
  .delivery {
    margin-top: 60px;
    padding: 35px 0 25px;
  }
  .container {
    max-width: none;
  }
  .title {
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.33;
    font-size: 24px;
  }
  .deliveryImage {
    position: static;
    margin-bottom: 7px;
    width: 100%;
  }
  .listOfCities {
    padding: 0 20px;
  }
  .btn {
    width: 80%;
    margin: 15px auto;
  }
}
