.container {
  padding-top: 60px;
}

.deliveryImage {
  width: 1245px;
  height: 530px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin: auto;
}

.title {
  margin-left: 25px;
  line-height: .17;
  font-size: 35px;
}

.listOfCities {
  display: flex;
}

.list {
  width: 230px;
  list-style: none;
}

.city {
  line-height: 2;
  font-size: 16px;
  cursor: pointer;
}

.city:hover {
  color: #666;
}

.btn {
  margin-top: 30px;
  border: 1px solid #d0d2d4;
  width: 460px;
  height: 48px;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  font-size: 18px;
}

.btn:hover {
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  background-color: #f3f4f7;
  color: #333536
}



@media only screen and (max-width: 400px) {

}
