.container {
  margin-top: 100px;
  padding-top: 60px;
}

.deliveryImage {
  width: 1245px;
  height: 530px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin: auto;
}

.title {
  font-weight: 600;
  margin-left: 25px;
  line-height: 1.33;
  font-size: 35px;
  margin-bottom: 15px;
}

.listOfCities {
  display: flex;
}

.list {
  width: 230px;
  list-style: none;
}

.city {
  line-height: 2;
  font-size: 16px;
  cursor: pointer;
}

.city:hover {
  color: #666;
}

.btn {
  margin-top: 30px;
  border: 1px solid #d0d2d4;
  width: 460px;
  height: 48px;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  font-size: 18px;
}

.btn:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-color: #f3f4f7;
  color: #333536;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 0;
  }

  .deliveryImage {
    max-width: 684px;
    height: 441px;
  }

  .title {
    margin-top: 30px;
  }

  .list {
    margin-bottom: 30px;
  }

  .btn {
    margin-top: 0;
  }
}

@media only screen and (max-width: 400px) {
  .deliveryImage {
    width: 365px;
    height: 650px;
  }

  .title {
    margin: -30px 0 110px 0;
    text-align: center;
    font-size: 24px;
  }

  .list {
    width: 170px;
    margin-top: 140px;
  }

  .city {
    font-size: 14px;
  }

  .btn {
    margin: 0 0 0 5px;
    width: 326px;
    height: 48px;
  }
}

@media only screen and (max-width: 320px) {
  .deliveryImage {
    max-width: 288px;
    height: 600px;
  }

  .btn {
    max-width: 246px;
  }

  .list {
    width: 130px;
  }

  .city {
    margin-left: -20px;
  }
}
