.upFooter {
  padding: 25px 0 0 0;
  background-color: #f3f4f7;
}

.logo {
  width: 220px;
  height: 40px;
  margin-bottom: 20px;
}

.sberMarket, .help {
  font-weight: 600;
  line-height: 1.9em;
  opacity: .8;
}

.item-li {
  font-size: .9em;
  line-height: 1.9em;
  opacity: .8;
  cursor: pointer;
}

.item-li:hover {
  color: #21a038;
  transition: .3s;
}

.item-lil {
  line-height: 1.9em;
  opacity: .8;
  cursor: pointer;
}

.item-lil:hover {
  color: #21a038;
  transition: .3s;
}

.item-lil::after {
  content: '✌';
  margin-left: 5px;
  font-size: .9em;
}

@media only screen and (max-width: 768px) {
  .upFooter {
    max-width: 768px;
  }


}

@media only screen and (max-width: 414px) {
  .my-block {
      text-align: center;
      margin: 15px 0px;
  }
  .my-block:first-child {
      margin-top: 15px;
  }

}

@media only screen and (max-width: 320px) {
  .logo {
    margin: auto;
  }

  .my-block {
    margin: auto;
    padding: 0 0 20px 0;
  }

  .sberMarket, .help, .item-li, .item-lil {
    margin: auto;
    text-align: center;
  }

}
