.imageHome {
  margin: auto;
  border-radius: 10px;
  width: 1245px;
  height: 518px;
  background-size: cover;
  background-position: center;
}

.homeText {
  padding: 125px 0 0 100px;
  line-height: .2;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.homeSubtext {
  margin: 65px 0 0 100px;
  line-height: .5;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}


@media only screen and (max-width: 400px) {
  .container {
    margin-top: 300px;
  }

  .imageHome {
    border-radius: 25px;
    max-width: 345px;
    height: 240px;
    margin-bottom: 150px;
  }

  .commonText {
    z-index: 99;
    position: absolute;
    top: 25%;
    transform: translate(-25%, -25%);
  }

  .homeText {
    color: #333;
    font-size: 35px;
    line-height: .2;
  }

  .homeSubtext {
    font-size: 18px;
    margin-top: 0;
    line-height: .5;
    color: #333;
  }
}
