.header {
  position: relative;
  margin-top: 80px;
  padding-top: 40px;
  min-height: 518px;
}

.imageHome {
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 518px;
  background-size: cover;
  margin: auto;
  background-position: center;
  z-index: -1;
  object-fit: contain;
}

.homeText {
  margin: 145px 0 0 100px;
  color: #fff;
  font-size: 40px;
  max-width: 800px;
  line-height: 1.1;
}


.homeSubtext {
  margin: 35px 0 0 100px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
}

.container {
  max-width: 1170px;
  margin-top: 95px;
  margin-bottom: 95px;
}

@media only screen and (max-width: 1119px) {
  .homeText {
    margin: 30px auto 0;
    padding: 0;
    max-width: 500px;
    text-align: center;
    line-height: 1.11;
    color: #333536;
    font-size: 36px;
  }
  .homeSubtext {
    ine-height: 1.35;
    color: #333536;
    font-size: 20px;
    margin: 30px 40px 0;
    text-align: center;
    line-height: 1.35;
  }
  .imageHome {
    position: static;
    margin: 0 auto;
    width: 688px;
    height: 450px;
  }
}

@media only screen and (max-width: 767px) {
  .selection {
    padding: 0 16px;
  }
  .header {
    margin-top: 0;
    padding-top: 20px;
  }
  .imageHome {
    position: static;
    max-width: 345px;
    height: 238px;
  }
}

@media only screen and (max-width: 575px) {
  .homeText {
    text-align: left;
    margin: 30px 0 0;
  }
  .homeSubtext {
    text-align: left;
    margin: 20px 0 0;
  }
  .container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}


/*@media only screen and (max-width: 320px) {*/
/*  .container {*/
/*    margin-top: 280px;*/
/*  }*/

/*  .imageHome {*/
/*    border-radius: 25px;*/
/*    max-width: 288px;*/
/*    height: 238px;*/
/*    margin-bottom: 150px;*/
/*  }*/

/*  .commonText {*/
/*    z-index: 99;*/
/*    position: absolute;*/
/*    top: 25%;*/
/*    transform: translate(-24%, -25%);*/
/*  }*/

/*  .homeText {*/
/*    width: 400px;*/
/*    color: #333;*/
/*    font-size: 30px;*/
/*  }*/

/*  .homeSubtext {*/
/*    margin-top: 20px;*/
/*    font-size: 18px;*/
/*    color: #333;*/
/*  }*/
/*}*/

