.d-none {
  display: none;
}

.visible {
  display: block;
}
.sales-icon {
  background-image: url("https://sbermarket.ru/spree/taxons/6246/normal/900000.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.drawer-backdrop {
  position: fixed;
  left: 0px;
  right: auto;
  bottom: 0px;
  z-index: 2100;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.drawer-backdrop.opened {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.drawer-left.opened {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.drawer-left {
  transform: translateX(-105%);
}

.drawer-left {
  display: flex;
  position: fixed;
  left: 0px;
  right: auto;
  bottom: 0px;
  z-index: 2100;
  top: 0px;
  display: flex;
  transition: opacity 0.3s;
}

.drawer-transition {
  transition: transform 0.3s;
  opacity: 1;
}

.drawer-transition.drawer-transition_faded {
  -webkit-animation: fadeOutLeft 0s 0.3s forwards;
  animation: fadeOutLeft 0s 0.3s forwards;
}

.drawer-content {
  position: relative;
}

.category-menu {
  height: 100%;
}

.category-menu-container {
  background: #fff;
  height: 100%;
  width: 300px;
  z-index: 2;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.category-menu-header {
  display: flex;
  align-items: center;
  height: 86px;
  padding: 10px 24px 0;
  box-sizing: border-box;
  background-color: #fff;
}

.category-menu-logo {
  margin-left: 22px;
  line-height: 0;
  width: 190px;
  height: 33px;
  background-size: cover;
  background-position: center;
  background-image: url("https://via.placeholder.com/200x30?text=LOGO");
}

.category-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background-color: #fff;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
}

.category-menu-list li {
  list-style: none;
}

.category-menu-list {
  padding-left: 0;
  cursor: pointer;
  margin: 15px 0px;
}

.category-menu-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 60px;
  padding-left: 24px;
  color: #393939;
  font-size: 13px;
  font-weight: 700;
  /*transition: 0.3s ease;*/
}

.category-menu-item-link-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 60px;
  padding-left: 24px;
  padding-right: 20px;
  color: #393939;
  font-size: 13px;
  font-weight: 700;
}

.category-menu-header button i {
  width: 11px;
  height: 11px;
  color: #21a038;
}
.category-menu-item-placeholder {
  height: 8px;
}

.category-menu-item-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*background-image: url("https://sbermarket.ru/spree/taxons/6246/normal/900000.png?1587988226");*/
}

category-menu-item-title {
  width: 164px;
  padding: 10px 0;
  word-wrap: break-word;
}

.category-menu-item-content,
.category-menu-item-icon {
  display: flex;
  align-items: center;
}

.category-menu-item {
  min-height: 60px;
  /*transition: 0.3s ease;*/
}

.category-menu-item:hover .category-menu-item-link {
  background: #f5f5f5;
  color: #21a038;
}

.category-menu-item-link-dropdown:hover .category-menu-item-link {
  background: #f5f5f5;
  color: #21a038;
}

.category-menu-item:hover .category-menu-item-link-pointer-container {
  visibility: visible;
}

.category-menu-item-link-pointer-container {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.border-gray {
  border-top: 1px solid #ece9e9;
  margin-top: -15px;
  padding-top: 8px;
}

/*dropdown catalog*/

/*.category-menu-item-dropdown.category-menu-item-dropdown-opened{display:block}*/

.category-menu-item:hover .category-menu-item-dropdown {
  display: block;
}

.category-menu-item:hover .category-menu-item-link {
  background: #f5f5f5;
  color: #21a038;
}

.category-menu-item-dropdown {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 300px;
  width: 300px;
  box-sizing: border-box;
  background: #fff;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid #ece9e9;
  box-shadow: 6px 2px 11px -6px rgba(0, 0, 0, 0.1);
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.category-menu-item-link-dropdown:hover {
  background: #f5f5f5;
  color: #21a038;
}

.category-menu-item-dropdown-list {
  width: 100%;
  padding-left: 0px;
}

.category-menu-item_content {
  display: flex;
  align-items: center;
}

/*.category-menu-item > .category-menu-item-link {*/
/*  background: #f5f5f5;*/
/*  color: #21a038;*/
/*}*/

/*.category-menu-item*/
/*  > .category-menu-item-link*/
/*  .category-menu-item-link-pointer-container {*/
/*  visibility: visible;*/
/*}*/
/*@-webkit-keyframes link-pointer-move {*/
/*  0% {*/
/*    transform: translateX(0);*/
/*  }*/
/*  50% {*/
/*    transform: translateX(5px);*/
/*  }*/
/*  to {*/
/*    transform: translateX(0);*/
/*  }*/
/*}*/
/*@keyframes link-pointer-move {*/
/*  0% {*/
/*    transform: translateX(0);*/
/*  }*/
/*  50% {*/
/*    transform: translateX(5px);*/
/*  }*/
/*  to {*/
/*    transform: translateX(0);*/
/*  }*/
/*}*/

/*dropdown catalog*/

/*@-webkit-keyframes swing {*/
/*  15% {*/
/*    -webkit-transform: translateX(9px);*/
/*    transform: translateX(9px);*/
/*  }*/
/*  30% {*/
/*    -webkit-transform: translateX(-9px);*/
/*    transform: translateX(-9px);*/
/*  }*/
/*  40% {*/
/*    -webkit-transform: translateX(6px);*/
/*    transform: translateX(6px);*/
/*  }*/
/*  50% {*/
/*    -webkit-transform: translateX(-6px);*/
/*    transform: translateX(-6px);*/
/*  }*/
/*  65% {*/
/*    -webkit-transform: translateX(3px);*/
/*    transform: translateX(3px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateX(0);*/
/*    transform: translateX(0);*/
/*  }*/
/*}*/

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(6px);
  }
  30% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  40% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  65% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*.swing:hover {*/
/*  -webkit-animation: swing 0.6s ease;*/
/*  animation: swing 0.6s ease;*/
/*  -webkit-animation-iteration-count: 1;*/
/*  animation-iteration-count: 1;*/
/*}*/

.category-menu-item:hover .swing {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@media (max-width: 414px) {
  .category-menu-container {
    width: 210px;
  }
  .category-menu-item-dropdown {
    left: 210px;
    width: 205px;
  }
  .category-menu-header {
    padding: 10px 14px 0;
  }
  .category-menu-item-link {
    padding-left: 10px;
  }
  .category-menu-item-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .category-menu-item-link-dropdown {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 375px) {
  .category-menu-item-link-dropdown {
    max-width: 165px;
  }
}
@media (max-width: 320px) {
  .category-menu-item-link-dropdown .category-menu-item-title {
    display: none;
  }

  .category-menu-item-link-dropdown .category-menu-item-icon {
    margin-left: 10px;
  }

  .category-menu-item-dropdown {
    left: 250px;
  }
  .category-menu-container {
    width: 250px;
  }
}
