.window {
  /*background-color: lightgray;*/
  padding: 30px 0 30px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  /*transition: opacity 1s;*/
  /*animation: fadeIn .5s 35ms ease-in;*/
}

.window:target {
  opacity: 1;
  pointer-events: auto;
}

/*.fadeIn {*/
/*  opacity: 1;*/
/*}*/

/*@keyframes fadeIn {*/
/*  0% {*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    opacity: 1;*/
/*  }*/
/*}*/


.container {
  width: 760px;
  border-radius: 15px;
  background-color: white;
}
