.window {
  /*background-color: lightgray;*/
  padding: 30px 0 30px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
  z-index: 1000;
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-delay: 35ms;
  animation-timing-function: ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.container {
  width: 760px;
  border-radius: 15px;
  background-color: white;
}
