.container {
  width: 768px;
  margin: 15px 0 30px 0;
  padding: 0 25px 0 0;
}

.info {
  font-weight: 600;
  margin-bottom: 12px;
}

.icons {
  margin: 0 0 0 0;
  display: flex;
}

.arrow-left, .arrow-right {
  width: 32px;
  height: 32px;
  line-height: 28px;
  margin: 0 10px 0 0;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  cursor: pointer;
}

.arrow-right {
  color: white;
  background-color: #21a038;
  border: none;
}

.arrow-right:hover {
  background-color: #117b0a;
  transition: .3s;
}

.recommended {
  margin: 0 15px;
}

.no-gutters {
  padding-bottom: 30px;
}

.carousel-cell {
  margin-right: 10px;
}
