
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 120px;
}

.unlogged-wrapper {
  display: flex;
  position: fixed;
  align-items: center;
  height: 80px;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(51, 53, 54, 0.15);
  width: 100%;
  transition: .3s ease;
}

.sticky {
  transition: .3s ease;
  position: fixed;
}

.logo {
  width: 242px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.left {
  display: flex;
  height: 100%;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.number a {
  display: flex;
  justify-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #343434;
  white-space: nowrap;
  text-decoration: none;
}

.btn-login {
  margin-left: 24px;
}

.btn-login button {
  line-height: 24px;
  border: 1px solid #d0d2d4;
  color: #343434;
  font-size: 16px;
  padding: 11px 16px;
  background-color: #ffffff;
  border-radius: 6px;
  transition: .3s ease;
  cursor: pointer;
}


.btn-login button:hover {
  background-color: #f3f4f7;
  border: 1px solid #d0d2d4;
  color: #333536;
}
