.recomm {
  width: 230px;
  height: 112px;
  display: flex;
  margin: 20px 0 0 10px;
  padding: 5px 5px 0 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.check-hidden {
  display: none;
}

.recomm:hover .check-hidden {
  display: block;
}

.check {
  width: 44px;
  height: 25px;
  display: flex;
  background-color: #21a038;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.plus, .checkout {
  color: white;
  margin: auto;
}

.check:hover {
  background-color: #117b0a;
  transition: .3s;
}

.block-image {
  width: 100px;
  height: 100px;
}

.image {
  width: 70px;
  height: 80px;
  background-color: black;
  margin: 10px 0 0 10px;
}

.info {
  width: 160px;
  text-align: left;
  position: relative;
}

.price {
  margin: 5px 0 6px 10px;
  font-size: 0.8em;
  font-weight: 600;
}

.productName {
  font-size: 0.7em;
  margin: 0 0 10px 10px;
}

.weight {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.8em;
  font-weight: 600;
  opacity: .5;
}

@media only screen and (max-width: 400px) {
  .recomm {
    width: 370px;
    margin: 20px 22px 0 0;
  }
}
