.products-list-header {
  margin: 40px 0 25px;
  display: flex;
}

.products-list-title {
  color: #393939;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

.products-list-title:hover {
  color: #21a038;
}

.show-all {
  transition: all .25s ease-out;
  border-radius: 4px;
  border: 1px solid #e5edec;
  color: #21a038;
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.show-all:hover {
  border: 1px solid #21a038;
  color: #21a038;
}

i {
  margin-left: 4px;
  fill: #21a038;
  height: 10px;
}

.show-all span {
  display: inline-block;
}

.products-list-body {
  height: 350px;
  display: flex;
}
