.overlay {
  background: rgba(0,0,0,.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 1;
  pointer-events: none;
}

.overlayBackDrop {
  transition: .3s;
}
